<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>756414699752-skqkl88c3rfcrl89n8bpesbqmus95ou0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.756414699752-skqkl88c3rfcrl89n8bpesbqmus95ou0</string>
	<key>API_KEY</key>
	<string>AIzaSyBPO6gi42KK2-NLu6X0KH1DZ9vHAGlHbUs</string>
	<key>GCM_SENDER_ID</key>
	<string>756414699752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.parkyou</string>
	<key>PROJECT_ID</key>
	<string>parkyou-ffa9d</string>
	<key>STORAGE_BUCKET</key>
	<string>parkyou-ffa9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756414699752:ios:22842f0d032893c0e8115d</string>
</dict>
</plist>